<!DOCTYPE html>
<html>
<head>
    <title>Welcome Email</title>
</head>
<body>
    <h2>Hello <%= data.name %>,</h2>
    <p>Welcome to tast! Your account has been successfully created.</p>
    <p>Best regards,<br>Truzz Team</p>
</body>
</html>